@model IEnumerable<ApplicationUser>

<table class="table">

@foreach(var user in Model)
{
    <tr>

        <td>
            @user.UserName
        </td>

        <td>
            <a asp-action="EditRoles"
               asp-route-id="@user.Id"
               class="btn btn-primary">

                Atribuições
            </a>
        </td>
    </tr>
}

</table>