@using KombfuscaWebManager.Models.CupModels.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ScoreConfirmationViewModel

<h2>Confirmar Pontuações</h2>
<p class="text-muted small">Os pontos identificados estão com quadrados verdes.<br /> Verifique se algum ponto não foi ignorado ou se algum quadrado foi marcado incorretamente.<br /> EVITE MODIFICAR MANUALMENTE OS PONTOS! Em caso de erros, repita a digitalização/foto.</p>

@if (!string.IsNullOrEmpty(Model.ProcessedImage))
{
    <img src="data:image/png;base64,@Model.ProcessedImage" width="600" height="600"  alt="Imagem processada" />
}

<p>Atribua cada jogador em sua pontuação. A ordem da tabela abaixo é a mesma da folha (da esquerda para a direita). <br /> A remoção de pontos <strong>NÃO</strong> é automática. Edite a pontuação manualmente para remover pontos.</p>

<form asp-action="SaveScoreSheet" method="post">

    <input type="hidden"
           asp-for="PeriodId" />

    <table class="table">

        <thead>

            <tr>

                <th>Ordem</th>

                <th>Jogador</th>

                <th>Fusca</th>

                <th>Kombi</th>

                <th>New Beetle</th>

            </tr>

        </thead>

        <tbody>

            @for (int i = 0; i < Model.Players.Count; i++)
            {

                <tr>
                    <td>
                        <p>@(i+1)</p>
                    </td>

                    <td>

                        <select asp-for="Players[i].UserId" class="form-control">
                            <option value="">-- Selecione um jogador --</option>
                            @foreach (var participation in Model.AvailableParticipations)
                            {
                                <option value="@participation.UserId">
                                    @participation.UserName - @participation.TeamName
                                </option>
                            }
                        </select>

                        <input type="hidden"
                               asp-for="Players[i].Name" />

                    </td>

                    <td>

                        <input asp-for="Players[i].Fusca"
                               class="form-control" />

                    </td>

                    <td>

                        <input asp-for="Players[i].Kombi"
                               class="form-control" />

                    </td>

                    <td>

                        <input asp-for="Players[i].NewBeetle"
                               class="form-control" />

                    </td>

                </tr>

            }

        </tbody>

    </table>
    <p class="text-muted small">A responsabilidade de atribuir corretamente os jogadores a suas pontuações é sua. Você não precisa verificar a precisão dos números, mas confira, pela imagem, se nenhum ponto foi ignorado ou marcado incorretamente.</p>
    <button class="btn btn-success">
        Confirmar a pontuação
    </button>

</form>
