@using KombfuscaWebManager.Models.CupModels.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ScoreConfirmationViewModel

<h2>Confirmar Pontuações</h2>
<p class="text-muted small">Atribua os jogadores a cada pontuação. <br /> Verifique se os números parecem coincidir. <br/> A ordem da lista abaixo é a mesma da folha.</p>

<form asp-action="SaveScoreSheet" method="post">

    <input type="hidden"
           asp-for="PeriodId" />

    <table class="table">

        <thead>

            <tr>

                <th>Ordem</th>

                <th>Jogador</th>

                <th>Fusca</th>

                <th>Kombi</th>

                <th>New Beetle</th>

            </tr>

        </thead>

        <tbody>

            @for (int i = 0; i < Model.Players.Count; i++)
            {

                <tr>
                    <td>
                        <p>@(i+1)</p>
                    </td>

                    <td>

                        <select asp-for="Players[i].UserId" class="form-control">
                            <option value="">-- Selecione um jogador --</option>
                            @foreach (var participation in Model.AvailableParticipations)
                            {
                                <option value="@participation.UserId">
                                    @participation.UserName - @participation.TeamName
                                </option>
                            }
                        </select>

                        <input type="hidden"
                               asp-for="Players[i].Name" />

                    </td>

                    <td>

                        <input asp-for="Players[i].Fusca"
                               class="form-control" />

                    </td>

                    <td>

                        <input asp-for="Players[i].Kombi"
                               class="form-control" />

                    </td>

                    <td>

                        <input asp-for="Players[i].NewBeetle"
                               class="form-control" />

                    </td>

                </tr>

            }

        </tbody>

    </table>
    <p class="text-muted small">A responsabilidade de atribuir corretamente os jogadores a suas pontuações é sua. Você não precisa verificar a precisão dos números, apenas se não existe algum absurdo (ex: Pontuação completamente zerada, pontuação extremamente alta).</p>
    <button class="btn btn-success">
        Confirmar a pontuação
    </button>

</form>
