@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Registrar a Pontuação no Sistema</h2>
<p class="text-muted small">Faça upload da foto do formulário de pontuação para a contagem automática dos pontos.</p>

<form asp-action="UploadScoreSheet"
      asp-controller="Score"
      method="post"
      enctype="multipart/form-data">

    <input type="hidden"
           name="periodId"
           value="@ViewBag.PeriodId" />

    <div class="mb-3">
        <label class="form-label">
            Imagem da folha
        </label>

        <input type="file"
               class="form-control"
               name="image"
               accept=".jpg,.jpeg,.png"
               required />
    </div>

    <p class="text-muted small">IMPORTANTE: <br /> Tire a foto em local iluminado; <br /> Deixe o formulário com iluminação constante; <br /> Mantenha a câmera paralela a folha; <br /> Mantenha a folha inteira na foto; <br /> VERIFIQUE SE A FOLHA CORRESPONDE AO PERÍODO SELECIONADO.</p>

    <button type="submit" class="btn btn-primary">
        Registrar
    </button>

    <a asp-action="Index"
           class="btn btn-secondary">
        Cancelar
    </a>

</form>